@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

/* rwd img css，可當作是 CSS Reset 其中一個 */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
  
  /* 全域 border box */
*,*::before,*::after{
    box-sizing: border-box;
}

.header{
    border-bottom: 1px solid #F1F1F1;
    background: #ffffffac;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header-bg{
    margin: 0 auto;
    max-width: 1296px;
    display: flex;
    justify-content: center;
    position: relative;
}
.header-logo{
    position: absolute;
    top: 28px;
    left: 0;
}
.header-group{
    display: flex;
    gap: 40px;
    padding: 32px 0px;
}

/*header-vector效果*/
.header-group li{
    padding: 4px 8px;
    position: relative;
}
.header-group li a{
    display: block;
    text-decoration: none;
    color: #000000;
}
.header-group li::before,
.header-group li::after{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
}
.header-group li::before{
    top: 0;
    left: 0;
    border-top: 1px solid #919191;
    border-left: 1px solid #919191;
}
.header-group li::after{
    top: 0;
    right: 0;
    border-top: 1px solid #919191;
    border-right: 1px solid #919191;
}
.header-group li a::before,
.header-group li a::after{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    opacity: 0;
    transition: opacity .3s;
}
.header-group li a::before{
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #919191;
    border-left: 1px solid #919191;
}
.header-group li a::after{
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #919191;
    border-right: 1px solid #919191;
}
.header-group li:hover::before,
.header-group li:hover::after,
.header-group li:hover > a::before,
.header-group li:hover > a::after{
    opacity: 1;
}

.header-sm{
    display: none;
}

@media (max-width: 767px){
    .header-bg{
        display: none;
    }
    .header-sm{
        margin: 0 auto;
        display: flex;
        padding: 8px 12px;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
    }
    .btn{
        width: 40px;
        height: 40px;
    }
    .header-group-sm{
        display: none;
    }
    .header-group{
        /* background: #FFFFFF; */        
        background: #F5F5F5;
        border-top: 1px solid #F1F1F1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 56px 0;
        padding: 40px 0px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    .header-group li a {
        font-size: 20px;
    }
    .close{
        display: none;
    }
}

.banner-bg{
    margin: 0 auto;
    max-width: 1296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-bg-img{
    max-width: 63%;
    display: block;
    height: auto;
}
.banner-content{
    margin: 0 24px;
    max-width: 37%;
}
.banner-content h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    color: #3B3B3B;
    margin-bottom: 24px;
}
.banner-content p{
    margin-bottom: 8px;
}
.banner-content p strong{
    display: inline-block;
    position: relative;
}
.str-vector{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
}
.banner-content p{
    font-size: 20px;
    color: #5B5B5B;
}
.banner-content .em{
    font-size: 16px;
    color: #C1C1C1;
    margin-top: 8px;
}
.banner-content-social{
    display: flex;
    gap: 16px;
    margin-top: 60px;
}

.banner-sm{
    display: none;
}
@media (max-width: 1200px){
    .banner-bg{
        flex-direction: column-reverse;
    }
    .banner-bg-img{
        max-width: 100%;
    }
    .banner-content{
        max-width: 100%;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-content h2{
        font-weight: 700;
        font-size: 32px;
    }
    .banner-content-social{
        margin-top: 16px;
    }    
}

@media (max-width: 767px){
    .banner-bg{
        display: none;
    }
    .banner-sm{
        flex-direction: column-reverse;
    }
    .banner-sm{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
    }
    .banner-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .banner-content-social img{
        width: 40px;
        height: auto;
    }
}


/*共用項目title-dec標題裝飾*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 80px;
    gap: 16px;
}
.title h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.12em;
}
/**/

.works-travel-bg{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work1-bg.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding: 0 24px;
    position: relative;
}
.works-travel-blur{
    position: absolute;
    background: #27272780;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.works-travel-img{
    margin-top: 55px;
}

/*共用項目*/
.works-img{
    z-index: 1;
    max-width: 55%;
}
.works-list-blur{
    background: #FFFFFF1A;
    backdrop-filter: blur(5px);
    max-width: 526px;
    width: 100%;
    padding: 80px 40px 56px 40px;
    border-radius: 24px;
    z-index: 2;
}
/**/

.works-list-content{
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 40px;
}
.works-list-content h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #FFFFFF;
}
.works-list-content p{
    color: #FFFFFF;
    margin-bottom: 24px;
}
.works-tags{
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}
.works-tags li{
    background: #FFFFFF;
    padding: 4px 12px;
    border-radius: 16px;
}

/*共用項目*/
.link-btn{
    display: flex;
}
.link-btn a{
    display: flex;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 5px;
    background: #000000;
    font-weight: 700; 
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.link-btn img{
    margin-left: 8px;
}
/**/

.works-fin-bg{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work2-lg.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 200px 0;
}
.works-fin-blur{
    position: absolute;
    background: #0A101380;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.works-fin-width{
    margin: 0 auto;
    max-width: 1296px;
}

.works-aes-bg{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-work3-bg.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 49px;
    padding: 176px 24px 112px;
    position: relative;
}
.works-aes-blur{
    position: absolute;
    background: #0D0C0780;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.travel-mobile, .fin-mobile, .aes-mobile{
    display: none;
}
@media (max-width: 1052px){
    /*共用項目title-dec標題裝飾*/
    .title{
        padding: 40px 12px;
    }
    .title h2{
        font-weight: 700;
        font-size: 24px;
        color: #3B3B3B;
    }

    .works-travel-img{
        margin-top: 93px;
    }
    .works-list-blur{
        display: none;
    }
    .travel-mobile{
        display: block;
    }
    .works-list-sm{
        display: flex;
        flex-direction: column;
        margin: 24px 0 48px;
    }
    .works-list-content{
        margin-bottom: 20px;
        text-align: center;
        border: 0px;
    }
    .works-list-content h2{
        font-size: 20px;
        color: #1E1E1E;
        margin-bottom: 8px;
    }
    .works-list-content p{
        color: #1E1E1E;
        margin-bottom: 16px;
    }
    .works-tags{
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: 0;
    }
    .works-tags li{
        background: #F1F1F1;
        color: #3B3B3B;
    }

    /*共用項目*/
    .link-btn a{
        padding: 8px 16px;
        font-size: 16px;
    }
    /**/

    .works-fin-blur, .works-list-blur{
        display: none;
    }
    .fin-mobile{
        display: block;
    }
    .aes-mobile{
        display: block;
    }
}

.service-bg{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/homepage-services-bg.png?raw=true");
    background-size: cover;
    padding: 0 0 120px;
}
.service-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 80px;
}
.service-item li{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true");
    width: 306px;
    height: 306px;
    border-radius: 16px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-item li h3{
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
}
.service-bg p{
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    color: #3B3B3B;
    margin-bottom: 40px;
}

@media (max-width: 767px){
    .service-bg{
        background-image: none;
        background: #FAFAFA;
        padding: 40px 12px 80px;
    }
    .service-item{
        margin-bottom: 40px;
    }
    .service-bg p{
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 24px;
    }
    .service-item li h3{
        font-size: 24px;
        line-height: 1.2;
    }
}


.article-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
}
.article-item li{
    max-width: 416px;
}
.article-item li img{
    border-radius: 8px;
    outline: 1px solid #F1F1F1;
}
.article-item-content{
    padding: 0 8px;
    margin: 16px 0 0;
}
.article-item-content h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #3B3B3B;
    margin-bottom: 16px;
}
.article-item-tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3B3B3B;
}
.tag{
    background: #F1F1F1;
    padding: 4px 12px;
    border-radius: 16px;
}
.tag-date{
    color: #3B3B3B;
}
.article-point{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 120px;
}
.point-gray{
    background: #E9E9E9;
    width: 12px;
    height: 12px;
    border-radius: 12px;
}
.point-black{
    background: #000000;
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.article-btn{
    display: none;
}
@media (max-width: 767px){
    .article{
        padding: 40px 12px 80px;
    }
    .article-item{
        gap: 48px;
    }
    .article-point{
        display: none;
    }
    .article-btn{
        display: block;
    }
    .article-item-content h4{
        font-weight: 600;        
    }
}


.footer-bg{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
    background-size: cover;
    padding: 80px 0;
}
.footer{
    margin: 0 auto;
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-about{
    max-width: 686px;
}
.footer-about img{
    width: 120px;
    height: 54px;
}
.footer-about p{
    font-size: 20px;
    color: #3B3B3B;
    margin: 24px 0;
}
.footer-about h5{
    font-size: 20px;
    line-height: 1.2;
    color: #919191;
}
.footer-social{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footer-social li img{
    display: inline-block;
}
.footer-social li a{
    display: flex;
    align-items: center;
    width: 306px;
    padding: 8px 24px;
    border-radius: 8px;
    gap: 8px;
    font-size: 20px;
    border: 1px solid #C1C1C1;
    text-decoration: none;
}
.footer-social .bg-black a{
    background: #000000;
    color: #FFFFFF;
    font-weight: 700;
}
.footer-social .bg-white a{
    background: #FFFFFF;
    color: #000000;
}

@media (max-width: 767px){
    .footer-bg{
        padding: 40px 12px;
    }
    .footer{
        flex-direction: column;
        gap: 40px;
    }
    .footer-about{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .footer-about p{
        font-size: 16px;
        line-height: 1.63;
    }
    .footer-about h5{
        font-size: 16px;
        line-height: 1.5;
    }
}